/*Flex Grid*/
.grid, 
.grid-item {
	margin: 0;
	padding: 0;
	list-style: none;
}
.grid {
	display: flex;
	flex-wrap: wrap;
}
.grid-item {
	display: flex; 
	width: 100%;
}
@media all and (min-width: $screen-sm-min) {
	.grid-item {
		width: 48%;
		margin: 0 2% 2% 0;
	}
}
@media all and (min-width: $screen-md-min) {
	.grid-item {
		width: 32%;
		margin: 0 1.33% 1.33% 0;
	}
}
.grid-content {
	display: flex;
	flex-direction: column;
	padding: 1em;
	width: 100%;
}
.grid-content p {
	flex: 1 0 auto;
}
